<%= javascript_include_tag "conversations" %>
<div id="id_json" style="display: none;"><%= @conversation.id.to_json %></div>
<div>
  <div class="conv-title container-title-new centred"><h4>Conversation with
    <% if current_user.id != @conversation.receiver_id %>
      <% if @conversation.receiver.avatar.exists? %>
        <%= image_tag @conversation.receiver.avatar.url(:mini) %>
      <%else%> <%= image_tag('No_Image_Available.png', size: "30x30",alt: 'no_image') %>
      <% end %>
      <%= link_to @conversation.receiver.username, user_profile_path(@conversation.receiver), class: 'link' %>
    <% else %>
      <% if @conversation.sender.avatar.exists? %>
        <%= image_tag @conversation.sender.avatar.url(:mini) %>
      <%else%> <%= image_tag('No_Image_Available.png', size: "30x30",alt: 'no_image') %>
      <% end %>
      <%= link_to @conversation.sender.username, user_profile_path(@conversation.sender), class: 'link' %>
    <% end %></h4></div>
  <br>
  <div id="results-div" style="padding-left: 30px; padding-right: 30px; padding-top: 7%">
    <% if @messages.count > 0 %>

      <% @messages.each do |message| %>
        <% if message.body %>
          <% if current_user.id == message.user_id %>
            <div class="speech-bubble div-padding">
              <h4><%= message.user.username %></h4>
              <%= message.body %>
              <br>
              <em>Sent at <%= message.created_at %></em>
            </div>
          <% else %>
            <div class="speech-bubble-other div-padding" style="text-align: right">
              <h4><%= message.user.username %></h4>
              <%= message.body %>
              <br>
              <em>Sent at <%= message.created_at %></em>
            </div>
          <% end %>

        <% end %>
        <br>
      <% end %>
    <% else %>
    <br>
      <div id="alt-div" class="container-text div-padding centred"  style="margin-top: 9%; padding: 5%"%>
        Start a conversation with this user!
      </div>
    <% end %>
  </div>
  <div class="container-title-new centred" id="bottom-chat">
    <br>
    <br>
    <%= form_tag(conversation_messages_create_path, method: :post) do %>
      <%= text_area_tag :body, nil, class: "comment-form", cols: 140, rows: 4 %>

      <%= submit_tag "Send", class: "big-button link" %>
    <% end %>
  </div>
</div>
<script>
    $(function () {



        var nume = <%= @conversation.id %>
            nume = 'http://localhost:3000/conversation/get_chat/' + nume
        function update_trackdata() {
            $.getJSON(nume, function (data) {

                $( "#results-div" ).empty();

                $.each(data, function (key, val) {
                    if (val.current_user == 1)
                        $("#results-div").append('<div class="speech-bubble div-padding" style="white-space: pre-wrap;">' + '<h4>'+ val.username +'</h4>'  + val.body
                            + '<br><em>Sent at '+ val.created_at +'</em>'+ '</div> <br>');
                    else
                        $("#results-div").append('<div class="speech-bubble-other div-padding" style="text-align: right; white-space: pre-wrap;">' + '<h4>'+ val.username +'</h4>'  + val.body
                            + '<br><em>Sent at '+ val.created_at +'</em>'+ '</div> <br>');
                });

            })
            return false;
        };
        update_trackdata();

        var interval = setInterval(update_trackdata, 3000);

    })</script>