<div class="container-form"><h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
    <div class= "row">
      <%= f.label 'Username *', class: "label-form col-25 " %>
      <%= f.text_field :username, autofocus: true, class: "input-form col-75" %>
    </div>


  <div class= "row">
    <%= f.label 'Email *', class: "label-form col-25 " %>
    <%= f.email_field :email, autofocus: "off", class: "input-form col-75" %>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class= "row">
    <%= f.label 'New password *', class: "label-form col-25 " %>
    <%= f.password_field :password, autocomplete: "off", class: "input-form col-75" %>
    <% if @minimum_password_length %>
      
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    <i>(leave blank if you don't want to change it)</i>
  </div>

  <div class= "row">
    <%= f.label 'New password confirmation *', class: "label-form col-25 " %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-form col-75" %>
  </div>


    <div class= "row">
      <%= f.label :first_name, class: "label-form col-25 " %>
      <%= f.text_field :first_name, autocomplete: "off", class: "input-form col-75" %>
    </div>

    <div class= "row">
      <%= f.label :last_name, class: "label-form col-25 " %>
      <%= f.text_field :last_name, autocomplete: "off", class: "input-form col-75" %>
    </div>

    <div class= "row">
      <%= f.label :gender, class: "label-form col-25 " %>
      <%= f.select :gender,  User::GENDER_TYPES, {}, { :class => 'input-form select-form col-75' } %>
    </div>

    <div class= "row">
      <%= f.label :country, class: "label-form col-25 " %>
      <%= country_select("user", "country", {}, { :class => 'input-form select-form col-75' }) %>
    </div>

    <div class= "row">
    <%= f.label "Your Birthday ", class: "label-form col-25 " %><br>
    <%= f.date_field :birthday, as: :date, value: f.object.try(:strftime,"%d/%m/%Y"), class: "input-form col-75"%>
    </div>

    <div class= "row">
      <%= f.label :avatar, class: "label-form col-25 " %>
      <%= f.file_field :avatar, { :class => 'search-button col-75' } %>
    </div>

    <div class= "row">
      <%= f.label "Profile description ", class: "label-form col-25 " %>
      <%= f.text_area :short_description, autocomplete: "off", class: "text-form col-75" %>
    </div>
<br>
    <div class= "row">
      <%= f.label :current_password, class: "label-form col-25 " %>
      <%= f.password_field :current_password, autocomplete: "off", class: "input-form col-75" %>
      <i>(we need your current password to confirm your changes)</i>
    </div>
    <div class= "row">
      <em class="label-form col-35">The fields marked with '*' are required.</em>
    </div>
  <div class="actions">
    <h3><%= f.submit "Update", class: "big-button link" %></h3>
  </div>
<% end %>


<%= link_to "Back", :back, class: "link" %>
</div>