<div style="display: inline">
<div class="container-text" style="width: 50%; display:inline; float: left"><div class="container-title"><h4>Inbox</h4></div>
  <div class="div-padding">

  <% @conversations.each do |conversation| %>
    <% recipient = conversation.sender_id == current_user.id ? conversation.receiver : conversation.sender %>

   <%= link_to recipient.username, conversation_messages_path(conversation, anchor: 'bottom-chat') %>
      <% if !conversation.unread_message_count(current_user).zero? %>
        <div class="new-alert"> (<%= conversation.unread_message_count(current_user) %>)</div>
      <% end %>
      , Last online: <%= recipient.last_seen%>, Last message: <%= conversation.messages.last.created_at %>

      <br>
      <br>
  <% end %>
  </div>
</div>

<div class="container-text" style="width: 48%;display:inline; float: right"><div class="container-title"><h4>Friends</h4></div>
<div class="div-padding">
  <% @users.each do |user| %>
    <%= link_to user.username, create_conversation_path(sender_id: current_user.id, receiver_id: user.id) %>
    , Last online: <%= user.last_seen%>
      <br>
    <br>
  <% end %>

</div>
</div>
</div>