<%= form_with model: @author, local: true do |form| %>

  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited
        this author from being saved:
      </h2>
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "row">
    <%= form.label "First Name", class: "label-form col-25 "  %>
    <%= form.text_field :firstName, class: "input-form col-75" %>
  </div>

  <div class= "row">
    <%= form.label "Last Name *", class: "label-form col-25 "  %>
    <%= form.text_field :lastName, class: "input-form col-75" %>
  </div>

  <div class= "row">
    <%= form.label :gender, class: "label-form col-25 " %>
    <%= form.select :gender,  User::GENDER_TYPES, {}, { :class => 'input-form select-form col-75' } %>
  </div>

  <div class= "row">
    <%= form.label :country, class: "label-form col-25 " %>
    <%= country_select("author", "country", {}, { :class => 'input-form select-form col-75' }) %>
  </div>

  <div class= "row">
    <%= form.label :bios, class: "label-form col-25 "  %>
    <%= form.text_area :bios, class: "input-form col-75" %>
  </div>

  <div class= "row">
    <%= form.label "Birth Date", class: "label-form col-25 "  %>
    <%= form.date_field :birth, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class: "input-form col-75"%>
  </div>

  <div class= "row">
    <%= form.label "Death Date", class: "label-form col-25 "  %>
    <%= form.date_field :death, class: "input-form col-75" %>
  </div>

  <div class="row">
    <%= form.label :avatar, class: "label-form col-25 "  %>
    <%= form.file_field :avatar, { :class => 'search-button col-75' } %>
  </div>

  <div class= "row">
    <em class="label-form col-35">The fields marked with '*' are required.</em>
  </div>

  <%= form.submit class: 'big-button link' %>
<% end %>