<%= form_with model: @review, local: true do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@review.errors.count, "error") %> prohibited
        this review from being saved:
      </h2>
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <%= form.label 'Select Score: '%>
<%= form.select 'rating', options_for_select( @ratings.map {|s| [if s.score!=nil
                                                                  s.score
                                                                else '(Nothing)'
                                                                end,s.id]}, @book_rating ) %>
  <br>
<%= form.label 'Review: ' %>
<%= form.text_area 'content'%>
  <br>
  <%= form.submit %>
<% end %>