<div class="container-form"><h1>Edit your Review for <%=link_to @book.title,book_path(@book) %></h1>
  <% if @book.avatar.exists? %>
    <%= image_tag @book.avatar.url(:medium) %>
  <%else%> <%= image_tag('No_Image_Available.png', size: "300x300",alt: 'no_image') %>
  <% end %>
  <%= form_for(@review, url: review_update_path(@review.id), html: {method: "patch"}) do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@review.errors.count, "error") %> prohibited
          this review from being saved:
        </h2>
        <ul>
          <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
    <%= f.label 'Select Score ', class: "label-form col-25 "%>
    <%= f.select 'rating', options_for_select( @ratings.map {|s| [if s.score!=nil
                                                                      s.score
                                                                    else '(Nothing)'
                                                                    end,s.id]},@review.rating_id),{}, class: "input-form col-75 " %>
    </div>
    <div class="row">
    <%= f.label 'Review Content ', class: "label-form col-25 " %>
    <%= f.text_area 'content' ,class: "input-form col-75 "%>
    </div>
    <br>
    <%= f.submit 'Save review', class: "big-button link" %>
  <% end %></div>