<!DOCTYPE html>
<html>
  <head>
    <title>BooksTreasury</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  </head>

  <body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>


  <p class="nav">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.username %></strong>.
      <%= link_to 'My profile', user_profile_path(current_user.username), :class => 'nav-link' %> |
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %> |
      <%= link_to "Logout", destroy_user_session_path,:method => :delete, :class => 'nav-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
    <% end %>
  <p class="nav"><%= link_to 'Books', books_path, :class => 'nav-link' %> |  <%= link_to 'Authors', authors_path, :class => 'nav-link' %> | <%= link_to 'Users', :user_index, :class => 'nav-link' %>
    <% if current_user.try(:admin?) %>
     | <%= link_to 'New Book', new_book_path %> | <%= link_to 'New Author', new_author_path %>
    <% end %>
  </p>
    <%= form_tag(search_path,method: :get) do %>
        <%= select_tag 'search_for', options_for_select( ['Books','Authors','Users'] ) %>
        <%= text_field_tag 'search' %>
        <%= submit_tag "Search" %>
      </p>
    <% end %>
    <%= yield %>
    </p>
  </body>
</html>
